body {
  font-family: Arial, sans-serif;
  background-image: url("./images/background.jpg");
}

html {
  position: relative;
  min-height: 100%;
}

main {
  margin: 80px 0;
}

#logo {
font-family: "Times New Roman";
  font-size: 24px;
  font-weight: bold;
  color: rgba(55, 24, 24, 0.872);
}

.navbar {
  border: none;
}

@media only screen and (max-width: 767px) {
  .navbar-header {
    background-color: #eef2f2;
  }
}
.connect-header {
  font-size: 20px;
}

.connect-photo {
  width: 55px;
  height: 55px;
}

#images {
  padding-top: 15px;
  text-align: center;
}

#about-image {
  float: left;
  width: 300px;
  height: 305px;
  margin: 0 20px 10px 0;
}

.my-text{
  background-color:rgba(126, 108, 108, 0.872);
  font-weight: bold;
  height: 40%;
}

.block-header{
  color: rgba(126, 108, 108, 0.872);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(184, 170, 170);
}

.text-muted-footer {
  margin-top: 15px;
  color: rgb(142, 127, 127);
}

.two-toned-footer-color {
  height: 6px;
  padding-top: 3px;
  background-color: #1f1c1c;
}

.port-image {
  margin: 20px auto;
}

.form-control {
  border-radius: 0;
  min-width: 100%;
  max-width: 100%;
}

.submit-btn {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: lighter;
  color: #fff;
  background-color: #4aaaa5;
  border: 0;
}

.submit-btn:hover {
  opacity: .7;
}

.submit-btn {
  /* Box-model */
  padding: 15px 30px;
  font-size: 16px;
  font-weight: lighter;

  /* Typography */
  color: #fff;

  /* Visual */
  background-color: #444b4b;
  border: 0;
}